<div class="chat-header">
  <div class="right-header">
    <div class="chat-title">
    testtest
    </div>
  </div>
  <div class="left-header">
    <div class="header-button">
    <a>チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
  <div class="upper-message">
    <div class="chatting-name">ユーザー名</div>
    <div class="created-time">時刻</div>
  </div>
  <div class= "lower-message">
    <div class="message-content">メッセージ</div>
  </div>
  </div>
    <div class="message">
  <div class="upper-message">
    <div class="chatting-name">ユーザー名</div>
    <div class="created-time">時刻</div>
  </div>
  <div class= "lower-message">
    <div class="message-content">メッセージ</div>
  </div>
  </div>
</div>

<div class="form">
      <div class="form-input">
        <input class="form-message" placeholder="type a message">
        <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
         </label>
      </div>
      <input class="form-submit" type="submit" value="送信">
</div>