<div class="chat-header">
  <div class="right-header">
    <div class="chat-title">
    testtest
    </div>
  </div>
  <div class="left-header">
    <div class="header-button">
    <a>チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
  <div class="upper-message">
    <div class="chatting-name">ユーザー名</div>
    <div class="created-time">時刻</div>
  </div>
  <div class= "lower-message">
    <div class="message-content">メッセージ</div>
  </div>
  </div>
    <div class="message">
  <div class="upper-message">
    <div class="chatting-name">ユーザー名</div>
    <div class="created-time">時刻</div>
  </div>
  <div class= "lower-message">
    <div class="message-content">メッセージ</div>
  </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>