<div class="side-bar-header">
  <div class="user-name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="room-create">
  <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room-contents">
  <div class="room-content">
  <a href="#">test</a>
  </div>
  </div>
    <div class="room-contents">
  <div class="room-content">
  <a href="#">test1</a>
  </div>
  </div>
</div>